In [1]:
import pandas as pd

<img src='http://media4.s-nbcnews.com/j/newscms/2016_36/1685951/ss-160826-twip-05_8cf6d4cb83758449fd400c7c3d71aa1f.nbcnews-ux-2880-1000.jpg'>

In [2]:
#read in a file
states = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/2014_usa_states.csv')

In [3]:
states.head()

   rank       state postal         pop
0     1     Alabama     AL   4849377.0
1     2      Alaska     AK    736732.0
2     3     Arizona     AZ   6731484.0
3     4    Arkansas     AR   2966369.0
4     5  California     CA  38802500.0

In [4]:
#read in another file
airports = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/2011_february_us_airport_traffic.csv')

In [5]:
airports.head()

,iata,airport,city,state,country,lat,long,cnt
0,ORD,Chicago O'Hare International,Chicago,IL,USA,41.979595,-87.904464,25129
1,ATL,William B Hartsfield-Atlanta Intl,Atlanta,GA,USA,33.640444,-84.426944,21925
2,DFW,Dallas-Fort Worth International,Dallas-Fort Worth,TX,USA,32.895951,-97.037200,20662
3,PHX,Phoenix Sky Harbor International,Phoenix,AZ,USA,33.434167,-112.008056,17290
4,DEN,Denver Intl,Denver,CO,USA,39.858408,-104.667002,13781

In [6]:
#read in a third file!
agriculture = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/2011_us_ag_exports.csv')

In [7]:
agriculture.head()

,code,state,category,total exports,beef,pork,poultry,dairy,fruits fresh,fruits proc,total fruits,veggies fresh,veggies proc,total veggies,corn,wheat,cotton
0,AL,Alabama,state,1390.63,34.4,10.6,481.0,4.06,8.0,17.1,25.11,5.5,8.9,14.33,34.9,70.0,317.61
1,AK,Alaska,state,13.31,0.2,0.1,0.0,0.19,0.0,0.0,0.00,0.6,1.0,1.56,0.0,0.0,0.00
2,AZ,Arizona,state,1463.17,71.3,17.9,0.0,105.48,19.3,41.0,60.27,147.5,239.4,386.91,7.3,48.7,423.95
3,AR,Arkansas,state,3586.02,53.2,29.4,562.9,3.53,2.2,4.7,6.88,4.4,7.1,11.45,69.5,114.5,665.44
4,CA,California,state,16472.88,228.7,11.1,225.4,929.95,2791.8,5944.6,8736.40,803.2,1303.5,2106.79,34.6,249.3,1064.95

In [8]:
#let's check if there's anything apart from states in the 'category' column
agriculture.category.nunique()

2

In [9]:
#okay, two different categories doesn't sound great. what are the categories?
agriculture.category.unique()
#that's a data cleaning issue.

array(['state', ' state'], dtype=object)

In [10]:
#we won't use the category column, but let's walk through using lambdas to fix it
agriculture['category'] = agriculture.category.map(lambda x: x.replace(' ', ''))
#what we're doing here is using a lambda function to replace a space with no space (' ', ''), and then mapping that to
#the agriculture['category'] column. 
#we're then saving this over itself

In [11]:
#did that work?
agriculture.category.nunique()
#yes, it did.

1

In [12]:
#are there any issues with state?
agriculture.state.nunique()
#doesn't look like it, so that's cool

50

In [17]:
#okay, let's concatenate the airports and states data

new_df = pd.concat([airports, states], axis=1)

In [20]:
new_df.head(100)

,iata,airport,city,state,country,lat,long,cnt,rank,state,postal,pop
0,ORD,Chicago O'Hare International,Chicago,IL,USA,41.979595,-87.904464,25129,1.0,Alabama,AL,4849377.0
1,ATL,William B Hartsfield-Atlanta Intl,Atlanta,GA,USA,33.640444,-84.426944,21925,2.0,Alaska,AK,736732.0
2,DFW,Dallas-Fort Worth International,Dallas-Fort Worth,TX,USA,32.895951,-97.037200,20662,3.0,Arizona,AZ,6731484.0
3,PHX,Phoenix Sky Harbor International,Phoenix,AZ,USA,33.434167,-112.008056,17290,4.0,Arkansas,AR,2966369.0
4,DEN,Denver Intl,Denver,CO,USA,39.858408,-104.667002,13781,5.0,California,CA,38802500.0
5,IAH,George Bush Intercontinental,Houston,TX,USA,29.980472,-95.339722,13223,6.0,Colorado,CO,5355866.0
6,SFO,San Francisco International,San Francisco,CA,USA,37.619002,-122.374843,12016,7.0,Connecticut,CT,3596677.0
7,LAX,Los Angeles International,Los Angeles,CA,USA,33.942536,-118.408074,11797,8.0,Delaware,DE,935614.0
8,MCO,Orlando International,Orlando,FL,USA,28.428889,-81.316028,10536,9.0,District of Columbia,DC,658893.0
9,CLT,Charlotte/Douglas International,Charlotte,NC,USA,35.214011,-80.943126,10490,10.0,Florida,FL,19893297.0
10,SLC,Salt Lake City Intl,Salt Lake City,UT,USA,40.788388,-111.977773,9898,11.0,Georgia,GA,10097343.0
11,TPA,Tampa International,Tampa,FL,USA,27.975472,-82.533250,9182,12.0,Hawaii,HI,1419561.0
12,EWR,Newark Intl,Newark,NJ,USA,40.692497,-74.168661,8678,13.0,Idaho,ID,1634464.0
13,LAS,McCarran International,Las Vegas,NV,USA,36.080361,-115.152333,8523,14.0,Illinois,IL,12880580.0
14,PHL,Philadelphia Intl,Philadelphia,PA,USA,39.871953,-75.241141,7965,15.0,Indiana,IN,6596855.0
15,MSP,Minneapolis-St Paul Intl,Minneapolis,MN,USA,44.880547,-93.216922,7690,16.0,Iowa,IA,3107126.0
16,SEA,Seattle-Tacoma Intl,Seattle,WA,USA,47.448982,-122.309313,7541,17.0,Kansas,KS,2904021.0
17,LGA,LaGuardia,New York,NY,USA,40.777243,-73.872609,7392,18.0,Kentucky,KY,4413457.0
18,MDW,Chicago Midway,Chicago,IL,USA,41.785983,-87.752424,6979,19.0,Louisiana,LA,4649676.0
19,IAD,Washington Dulles International,Chantilly,VA,USA,38.944532,-77.455810,6779,20.0,Maine,ME,1330089.0
20,SAN,San Diego International-Lindbergh,San Diego,CA,USA,32.733556,-117.189657,6233,21.0,Maryland,MD,5976407.0
21,STL,Lambert-St Louis International,St Louis,MO,USA,38.747687,-90.359990,6204,22.0,Massachusetts,MA,6745408.0
22,DTW,Detroit Metropolitan-Wayne County,Detroit,MI,USA,42.212059,-83.348836,6044,23.0,Michigan,MI,9909877.0
23,JFK,John F Kennedy Intl,New York,NY,USA,40.639751,-73.778926,5945,24.0,Minnesota,MN,5457173.0
24,MIA,Miami International,Miami,FL,USA,25.793250,-80.290556,5907,25.0,Mississippi,MS,2994079.0
25,BOS,Gen Edw L Logan Intl,Boston,MA,USA,42.364348,-71.005179,5627,26.0,Missouri,MO,6063589.0
26,SMF,Sacramento International,Sacramento,CA,USA,38.695422,-121.590767,4943,27.0,Montana,MT,1023579.0
27,BWI,Baltimore-Washington International,Baltimore,MD,USA,39.175402,-76.668198,4749,28.0,Nebraska,NE,1881503.0
28,SNA,John Wayne /Orange Co,Santa Ana,CA,USA,33.675659,-117.868223,4616,29.0,Nevada,NV,2839098.0
29,MSY,New Orleans International,New Orleans,LA,USA,29.993389,-90.258028,4432,30.0,New Hampshire,NH,1326813.0
...,...,...,...,...,...,...,...,...,...,...,...,...
70,BTR,"Baton Rouge Metropolitan, Ryan",Baton Rouge,LA,USA,30.533161,-91.149634,1095,NaN,NaN,NaN,NaN
71,TYS,McGhee-Tyson,Knoxville,TN,USA,35.812487,-83.992856,1052,NaN,NaN,NaN,NaN
72,COS,City of Colorado Springs Muni,Colorado Springs,CO,USA,38.805806,-104.700250,1040,NaN,NaN,NaN,NaN
73,PNS,Pensacola Regional,Pensacola,FL,USA,30.473306,-87.187444,1035,NaN,NaN,NaN,NaN
74,SYR,Syracuse-Hancock Intl,Syracuse,NY,USA,43.111187,-76.106311,1006,NaN,NaN,NaN,NaN
75,BHM,Birmingham International,Birmingham,AL,USA,33.562943,-86.753550,956,NaN,NaN,NaN,NaN
76,MHT,Manchester,Manchester,NH,USA,42.934516,-71.437056,953,NaN,NaN,NaN,NaN
77,PSP,Palm Springs International,Palm Springs,CA,USA,33.829216,-116.506253,949,NaN,NaN,NaN,NaN
78,SRQ,Sarasota Bradenton International,Sarasota,FL,USA,27.395333,-82.554111,932,NaN,NaN,NaN,NaN
79,CRP,Corpus Christi International,Corpus Christi,TX,USA,27.770361,-97.501215,926,NaN,NaN,NaN,NaN
80,HSV,Huntsville International,Huntsville,AL,USA,34.640448,-86.773109,880,NaN,NaN,NaN,NaN
81,CAE,Columbia Metropolitan,Columbia,SC,USA,33.938840,-81.119539,840,NaN,NaN,NaN,NaN
82,LFT,Lafayette Regional,Lafayette,LA,USA,30.205280,-91.987655,818,NaN,NaN,NaN,NaN
83,SBA,Santa Barbara Municipal,Santa Barbara,CA,USA,34.426212,-119.840373,800,NaN,NaN,NaN,NaN
84,GEG,Spokane Intl,Spokane,WA,USA,47.619856,-117.533843,785,NaN,NaN,NaN,NaN
85,MOB,Mobile Regional,Mobile,AL,USA,30.691417,-88.242833,768,NaN,NaN,NaN,NaN
86,ICT,Wichita Mid-Continent,Wichita,KS,USA,37.649959,-97.433046,747,NaN,NaN,NaN,NaN
87,BUF,Buffalo Niagara Intl,Buffalo,NY,USA,42.940525,-78.732167,711,NaN,NaN,NaN,NaN
88,DSM,Des Moines International,Des Moines,IA,USA,41.534933,-93.660682,708,NaN,NaN,NaN,NaN
89,MDT,Harrisburg Intl,Harrisburg,PA,USA,40.193495,-76.763404,702,NaN,NaN,NaN,NaN
90,PWM,Portland International Jetport,Portland,ME,USA,43.646167,-70.308750,686,NaN,NaN,NaN,NaN
91,MGM,Montgomery Regional Apt,Montgomery,AL,USA,32.300644,-86.393976,686,NaN,NaN,NaN,NaN
92,PHF,Newport News/Williamsburg International,Newport News,VA,USA,37.131896,-76.492987,675,NaN,NaN,NaN,NaN
93,HPN,Westchester Cty,White Plains,NY,USA,41.066958,-73.707574,664,NaN,NaN,NaN,NaN
94,MRY,Monterey Peninsula,Monterey,CA,USA,36.586982,-121.842948,658,NaN,NaN,NaN,NaN
95,GRR,Kent County International,Grand Rapids,MI,USA,42.880820,-85.522768,656,NaN,NaN,NaN,NaN
96,ECP,Florida Beach,Beaches,FL,USA,30.448674,-84.550781,653,NaN,NaN,NaN,NaN
97,YUM,Yuma MCAS-Yuma International,Yuma,AZ,USA,32.656583,-114.605972,627,NaN,NaN,NaN,NaN
98,ASE,Aspen-Pitkin Co/Sardy,Aspen,CO,USA,39.223160,-106.868845,611,NaN,NaN,NaN,NaN
99,TLH,Tallahassee Regional,Tallahassee,FL,USA,30.396528,-84.350333,608,NaN,NaN,NaN,NaN

In [21]:
#let's check to see if we have null values. 
new_df.isnull().sum()

iata         0
airport      0
city         1
state        1
country      0
lat          0
long         0
cnt          0
rank       169
state      169
postal     169
pop        169
dtype: int64

In [22]:
#the two dataframes we concatenated were of different lengths, so once pandas ran out of rows on the states dataframe
#it started to fill in null values
print new_df.head()
new_df.tail()

  iata                            airport               city state country  \
0  ORD       Chicago O'Hare International            Chicago    IL     USA
1  ATL  William B Hartsfield-Atlanta Intl            Atlanta    GA     USA
2  DFW    Dallas-Fort Worth International  Dallas-Fort Worth    TX     USA
3  PHX   Phoenix Sky Harbor International            Phoenix    AZ     USA
4  DEN                        Denver Intl             Denver    CO     USA

         lat        long    cnt  rank       state postal         pop
0  41.979595  -87.904464  25129   1.0     Alabama     AL   4849377.0
1  33.640444  -84.426944  21925   2.0      Alaska     AK    736732.0
2  32.895951  -97.037200  20662   3.0     Arizona     AZ   6731484.0
3  33.434167 -112.008056  17290   4.0    Arkansas     AR   2966369.0
4  39.858408 -104.667002  13781   5.0  California     CA  38802500.0

,iata,airport,city,state,country,lat,long,cnt,rank,state,postal,pop
216,EAU,Chippewa Valley Regional,Eau Claire,WI,USA,44.865257,-91.485072,48,NaN,NaN,NaN,NaN
217,DBQ,Dubuque Municipal,Dubuque,IA,USA,42.402959,-90.709167,48,NaN,NaN,NaN,NaN
218,RST,Rochester International,Rochester,MN,USA,43.908826,-92.497987,37,NaN,NaN,NaN,NaN
219,UTM,Tunica Municipal Airport,Tunica,MS,USA,34.681499,-90.348816,32,NaN,NaN,NaN,NaN
220,BIL,Billings Logan Intl,Billings,MT,USA,45.807662,-108.542861,23,NaN,NaN,NaN,NaN

In [28]:
#what if we merged everything on the states column instead

new_df = pd.merge(airports, states, left_on='state', right_on='postal')

In [26]:
#this time we have no nulls!
new_df.isnull()

,iata,airport,city,state_x,country,lat,long,cnt,rank,state_y,postal,pop
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
190,False,False,False,False,False,False,False,False,False,False,False,False
191,False,False,False,False,False,False,False,False,False,False,False,False
192,False,False,False,False,False,False,False,False,False,False,False,False
193,False,False,False,False,False,False,False,False,False,False,False,False
194,False,False,False,False,False,False,False,False,False,False,False,False
195,False,False,False,False,False,False,False,False,False,False,False,False
196,False,False,False,False,False,False,False,False,False,False,False,False
197,False,False,False,False,False,False,False,False,False,False,False,False
198,False,False,False,False,False,False,False,False,False,False,False,False
199,False,False,False,False,False,False,False,False,False,False,False,False
200,False,False,False,False,False,False,False,False,False,False,False,False
201,False,False,False,False,False,False,False,False,False,False,False,False
202,False,False,False,False,False,False,False,False,False,False,False,False
203,False,False,False,False,False,False,False,False,False,False,False,False
204,False,False,False,False,False,False,False,False,False,False,False,False
205,False,False,False,False,False,False,False,False,False,False,False,False
206,False,False,False,False,False,False,False,False,False,False,False,False
207,False,False,False,False,False,False,False,False,False,False,False,False
208,False,False,False,False,False,False,False,False,False,False,False,False
209,False,False,False,False,False,False,False,False,False,False,False,False
210,False,False,False,False,False,False,False,False,False,False,False,False
211,False,False,False,False,False,False,False,False,False,False,False,False
212,False,False,False,False,False,False,False,False,False,False,False,False
213,False,False,False,False,False,False,False,False,False,False,False,False
214,False,False,False,False,False,False,False,False,False,False,False,False
215,False,False,False,False,False,False,False,False,False,False,False,False
216,False,False,False,False,False,False,False,False,False,False,False,False
217,False,False,False,False,False,False,False,False,False,False,False,False
218,False,False,False,False,False,False,False,False,False,False,False,False
219,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
print new_df.head()
new_df.tail()

#instead, pandas filled in state information for every single airport, even if they were from the same state

## Merged!

<img src='http://wdy.h-cdn.co/assets/16/05/980x490/landscape-1454612525-baby-pandas.jpg'>

Concatenation is taking two or more separately located things and placing them side-by-side next to each other (either as columns OR as rows) so that they can now be treated as one thing. 

Joins using pandas happen when columns of two DataFrames are joined either on index or on a key column.

In [29]:
#let's say we want to merge just the airport names with the entirety of the states dataframe
#we would need to keep a key on which to merge the two, so let's retain the 'states' column in airports
#we have two brackets around the column names because one set of brackets would just call them up as a series
#two sets of brackets tells pandas that we want them to be treated as a new dataframe
another_one = pd.merge(airports[['iata', 'state']], states, left_on='state', right_on='postal')

In [33]:
another_one.drop(['state_x'], axis=1)

    iata  rank        state_y postal         pop
0    ORD    14       Illinois     IL  12880580.0
1    MDW    14       Illinois     IL  12880580.0
2    MLI    14       Illinois     IL  12880580.0
3    BMI    14       Illinois     IL  12880580.0
4    PIA    14       Illinois     IL  12880580.0
5    CMI    14       Illinois     IL  12880580.0
6    SPI    14       Illinois     IL  12880580.0
7    ATL    11        Georgia     GA  10097343.0
8    SAV    11        Georgia     GA  10097343.0
9    CSG    11        Georgia     GA  10097343.0
10   VLD    11        Georgia     GA  10097343.0
11   BQK    11        Georgia     GA  10097343.0
12   AGS    11        Georgia     GA  10097343.0
13   DFW    45          Texas     TX  26956958.0
14   IAH    45          Texas     TX  26956958.0
15   HOU    45          Texas     TX  26956958.0
16   SAT    45          Texas     TX  26956958.0
17   DAL    45          Texas     TX  26956958.0
18   ELP    45          Texas     TX  26956958.0
19   MAF    45          Texas     TX  26956958.0
20   CRP    45          Texas     TX  26956958.0
21   LBB    45          Texas     TX  26956958.0
22   HRL    45          Texas     TX  26956958.0
23   LRD    45          Texas     TX  26956958.0
24   AUS    45          Texas     TX  26956958.0
25   ABI    45          Texas     TX  26956958.0
26   GRK    45          Texas     TX  26956958.0
27   MFE    45          Texas     TX  26956958.0
28   TYR    45          Texas     TX  26956958.0
29   SPS    45          Texas     TX  26956958.0
..   ...   ...            ...    ...         ...
190  MHK    17         Kansas     KS   2904021.0
191  DSM    16           Iowa     IA   3107126.0
192  CID    16           Iowa     IA   3107126.0
193  DBQ    16           Iowa     IA   3107126.0
194  PWM    20          Maine     ME   1330089.0
195  RAP    43   South Dakota     SD    853175.0
196  FSD    43   South Dakota     SD    853175.0
197  FAR    35   North Dakota     ND    739482.0
198  MOT    35   North Dakota     ND    739482.0
199  GFK    35   North Dakota     ND    739482.0
200  BIS    35   North Dakota     ND    739482.0
201  BOI    13          Idaho     ID   1634464.0
202  IDA    13          Idaho     ID   1634464.0
203  TWF    13          Idaho     ID   1634464.0
204  PIH    13          Idaho     ID   1634464.0
205  LWS    13          Idaho     ID   1634464.0
206  JAC    52        Wyoming     WY    584153.0
207  CPR    52        Wyoming     WY    584153.0
208  COD    52        Wyoming     WY    584153.0
209  GCC    52        Wyoming     WY    584153.0
210  CYS    52        Wyoming     WY    584153.0
211  RKS    52        Wyoming     WY    584153.0
212  BZN    27        Montana     MT   1023579.0
213  HLN    27        Montana     MT   1023579.0
214  GTF    27        Montana     MT   1023579.0
215  FCA    27        Montana     MT   1023579.0
216  BIL    27        Montana     MT   1023579.0
217  BTV    47        Vermont     VT    626562.0
218  LWB    50  West Virginia     WV   1850326.0
219  CRW    50  West Virginia     WV   1850326.0

[220 rows x 5 columns]

In [30]:
another_one.head(25)

   iata state_x  rank   state_y postal         pop
0   ORD      IL    14  Illinois     IL  12880580.0
1   MDW      IL    14  Illinois     IL  12880580.0
2   MLI      IL    14  Illinois     IL  12880580.0
3   BMI      IL    14  Illinois     IL  12880580.0
4   PIA      IL    14  Illinois     IL  12880580.0
5   CMI      IL    14  Illinois     IL  12880580.0
6   SPI      IL    14  Illinois     IL  12880580.0
7   ATL      GA    11   Georgia     GA  10097343.0
8   SAV      GA    11   Georgia     GA  10097343.0
9   CSG      GA    11   Georgia     GA  10097343.0
10  VLD      GA    11   Georgia     GA  10097343.0
11  BQK      GA    11   Georgia     GA  10097343.0
12  AGS      GA    11   Georgia     GA  10097343.0
13  DFW      TX    45     Texas     TX  26956958.0
14  IAH      TX    45     Texas     TX  26956958.0
15  HOU      TX    45     Texas     TX  26956958.0
16  SAT      TX    45     Texas     TX  26956958.0
17  DAL      TX    45     Texas     TX  26956958.0
18  ELP      TX    45     Texas     TX  26956958.0
19  MAF      TX    45     Texas     TX  26956958.0
20  CRP      TX    45     Texas     TX  26956958.0
21  LBB      TX    45     Texas     TX  26956958.0
22  HRL      TX    45     Texas     TX  26956958.0
23  LRD      TX    45     Texas     TX  26956958.0
24  AUS      TX    45     Texas     TX  26956958.0

## Independent practice

In [ ]:
##Merge a few columns from the states dataframe with the agriculture dataframe.

In [ ]:
##Concatenate the airport and agriculture dataframes, first on axis=0, then on axis=1

### Resources:

[Chris Albon's walkthrough](https://chrisalbon.com/python/pandas_join_merge_dataframe.html)  
[Pandas merge, concat, join](http://pandas.pydata.org/pandas-docs/stable/merging.html)