
# Getting started

Once you've chosen your scenario, download the data from the Iowa website in csv format. Start by loading the data with pandas. You may need to parse the date columns appropriately.

In [18]:
import pandas as pd

## Load the data into a DataFrame
liquor = pd.read_csv('../../../../Iowa_Liquor_sales_sample_10pct.csv')

In [21]:
## Make necessary column modifications

## Transform the dates
liquor["Date"] = pd.to_datetime(liquor["Date"], format="%m/%d/%Y")

## Reformat column names to replace spaces with underscores
liquor.columns = [c.replace(' ', '_') for c in liquor.columns]
liquor.columns = [c.replace(')', '') for c in liquor.columns]
liquor.columns = [c.replace('(', '') for c in liquor.columns]

In [19]:
def eda(dataframe):
    
    print "missing values \n", dataframe.isnull().sum()## count number of null values per column
    print ''
    print "dataframe types \n", dataframe.dtypes       ## list data type of each column
    print ''
    print "dataframe shape \n", dataframe.shape        ## rows by columns
    print ''
    print "dataframe describe \n", dataframe.describe()## stats -- mean, min, max, etc.. 
    print ''
    for item in dataframe:                             ## count number of unique values per column
        print item
        print dataframe[item].nunique()

eda(liquor)

missing values
Date                        0
Store Number                0
City                        0
Zip Code                    0
County Number            1077
County                   1077
Category                   68
Category Name             632
Vendor Number               0
Item Number                 0
Item Description            0
Bottle Volume (ml)          0
State Bottle Cost           0
State Bottle Retail         0
Bottles Sold                0
Sale (Dollars)              0
Volume Sold (Liters)        0
Volume Sold (Gallons)       0
dtype: int64

dataframe types
Date                      object
Store Number               int64
City                      object
Zip Code                  object
County Number            float64
County                    object
Category                 float64
Category Name             object
Vendor Number              int64
Item Number                int64
Item Description          object
Bottle Volume (ml)         int64
State Bottle Cost         object
State Bottle Retail       object
Bottles Sold               int64
Sale (Dollars)            object
Volume Sold (Liters)     float64
Volume Sold (Gallons)    float64
dtype: object

dataframe shape
(270955, 18)

dataframe describe
        Store Number  County Number      Category  Vendor Number  \
count  270955.000000  269878.000000  2.708870e+05   270955.00000
mean     3590.263701      57.231642  1.043888e+06      256.43443
std       947.662050      27.341205  5.018211e+04      141.01489
min      2106.000000       1.000000  1.011100e+06       10.00000
25%      2604.000000      31.000000  1.012200e+06      115.00000
50%      3722.000000      62.000000  1.031200e+06      260.00000
75%      4378.000000      77.000000  1.062310e+06      380.00000
max      9023.000000      99.000000  1.701100e+06      978.00000

         Item Number  Bottle Volume (ml)   Bottles Sold  Volume Sold (Liters)  \
count  270955.000000       270955.000000  270955.000000         270955.000000
mean    45974.963300          924.830341       9.871285              8.981351
std     52757.043086          493.088489      24.040912             28.913690
min       168.000000           50.000000       1.000000              0.100000
25%     26827.000000          750.000000       2.000000              1.500000
50%     38176.000000          750.000000       6.000000              5.250000
75%     64573.000000         1000.000000      12.000000             10.500000
max    995507.000000         6000.000000    2508.000000           2508.000000

       Volume Sold (Gallons)
count          270955.000000
mean                2.372830
std                 7.638182
min                 0.030000
25%                 0.400000
50%                 1.390000
75%                 2.770000
max               662.540000

Date
274
Store Number
1400
City
385
Zip Code
415
County Number
99
County
99
Category
83
Category Name
71
Vendor Number
116
Item Number
2696
Item Description
2173
Bottle Volume (ml)
29
State Bottle Cost
1086
State Bottle Retail
1112
Bottles Sold
137
Sale (Dollars)
6580
Volume Sold (Liters)
265
Volume Sold (Gallons)
261

In [23]:
print liquor.Category.value_counts()
print liquor.Category_Name.value_counts()

1031080.0    35373
1012100.0    27087
1011200.0    15342
1062310.0    14631
1031200.0    14001
1022100.0    12109
1011100.0    11547
1081600.0    10902
1032080.0    10668
1062200.0    10062
1062300.0     7282
1011300.0     7081
1071100.0     6929
1051010.0     6589
1041100.0     6559
1032200.0     6506
1082900.0     6299
1081200.0     6284
1012200.0     5375
1052010.0     4614
1081390.0     4249
1081900.0     3394
1031100.0     3304
1081300.0     3221
1042100.0     2939
1012300.0     2791
1012210.0     2288
1081030.0     1914
1081330.0     1650
1051110.0     1580
             ...
1041150.0      250
1081365.0      235
1052100.0      224
1081230.0      201
1011400.0      190
1041200.0      169
1081220.0      157
1051150.0      144
1032100.0      114
1081350.0       99
1081500.0       86
1082100.0       83
1031090.0       78
1022200.0       63
1081250.0       61
1081210.0       52
1062500.0       38
1081020.0       35
1012400.0       23
1031110.0       15
1091100.0       15
1082200.0       13
1011600.0       12
1062400.0        8
1082010.0        3
1011700.0        3
1091300.0        2
1501100.0        2
1082015.0        2
1092100.0        1
Name: Category, dtype: int64
VODKA 80 PROOF                        35373
CANADIAN WHISKIES                     27087
STRAIGHT BOURBON WHISKIES             15342
SPICED RUM                            14631
VODKA FLAVORED                        14001
TEQUILA                               12109
BLENDED WHISKIES                      11547
WHISKEY LIQUEUR                       10902
IMPORTED VODKA                        10668
PUERTO RICO & VIRGIN ISLANDS RUM      10062
FLAVORED RUM                           7282
TENNESSEE WHISKIES                     7081
AMERICAN COCKTAILS                     6929
AMERICAN GRAPE BRANDIES                6589
AMERICAN DRY GINS                      6559
IMPORTED VODKA - MISC                  6506
MISC. IMPORTED CORDIALS & LIQUEURS     6299
CREAM LIQUEURS                         6284
SCOTCH WHISKIES                        5375
IMPORTED GRAPE BRANDIES                4614
IMPORTED SCHNAPPS                      4249
MISC. AMERICAN CORDIALS & LIQUEURS     3394
100 PROOF VODKA                        3304
PEPPERMINT SCHNAPPS                    3221
IMPORTED DRY GINS                      2939
IRISH WHISKIES                         2791
SINGLE MALT SCOTCH                     2288
COFFEE LIQUEURS                        1914
PEACH SCHNAPPS                         1650
BLACKBERRY BRANDIES                    1580
                                      ...
AMERICAN ALCOHOL                        573
WATERMELON SCHNAPPS                     479
BARBADOS RUM                            393
JAMAICA RUM                             385
GRAPE SCHNAPPS                          333
CHERRY BRANDIES                         330
ROOT BEER SCHNAPPS                      324
SINGLE BARREL BOURBON WHISKIES          319
RASPBERRY SCHNAPPS                      304
STRAWBERRY SCHNAPPS                     302
IMPORTED AMARETTO                       276
GREEN CREME DE MENTHE                   259
FLAVORED GINS                           250
TROPICAL FRUIT SCHNAPPS                 235
WHITE CREME DE CACAO                    201
BOTTLED IN BOND BOURBON                 190
AMERICAN SLOE GINS                      169
DARK CREME DE CACAO                     157
MISCELLANEOUS  BRANDIES                 144
SPEARMINT SCHNAPPS                       99
ROCK & RYE                               86
OTHER PROOF VODKA                        78
WHITE CREME DE MENTHE                    61
CREME DE ALMOND                          52
ANISETTE                                 35
JAPANESE WHISKY                          23
LOW PROOF VODKA                          15
CORN WHISKIES                            12
AMARETTO - IMPORTED                       3
HIGH PROOF BEER - AMERICAN                2
Name: Category_Name, dtype: int64

# Explore the data

Perform some exploratory statistical analysis and make some plots, such as histograms of transaction totals, bottles sold, etc.

In [16]:
import seaborn as sns
import matplotlib.pyplot as plt

# Record your findings

Be sure to write out anything observations from your exploratory analysis.

# Mine the data

Now you are ready to compute the variables you will use for your regression from the data. For example, you may want to compute total sales per store from Jan to March of 2015, mean price per bottle, etc. Refer to the readme for more ideas appropriate to your scenario.

Pandas is your friend for this task. Take a look at the operations here for ideas on how to make the best use of pandas and feel free to search for blog and Stack Overflow posts to help you group data by certain variables and compute sums, means, etc. You may find it useful to create a new data frame to house this summary data.

# Refine the data

Look for any statistical relationships, correlations, or other relevant properties of the dataset.

# Build your models

Using scikit-learn or statsmodels, build the necessary models for your scenario. Evaluate model fit.

# Plot your results

Again make sure that you record any valuable information. For example, in the tax scenario, did you find the sales from the first three months of the year to be a good predictor of the total sales for the year? Plot the predictions versus the true values and discuss the successes and limitations of your models

# Present the Results

Present your conclusions and results. If you have more than one interesting model feel free to include more than one along with a discussion. Use your work in this notebook to prepare your write-up.