In [4]:
numbers = range(0, 10)
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
#adding one to every number in list of numbers
new_list = []

for i in numbers:
    new_list.append(i+1)
    
new_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
#for every x in numbers 
#add one 1 to x
#map all of those new numbers
#to a new list
map(lambda x: x+1, numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
filter(lambda x: x % 2 == 0, numbers)

[0, 2, 4, 6, 8]

In [7]:
numbers = range(0, 10)
new_list = [x+1 for x in numbers]

In [8]:
new_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
names = ['mike', 'mike', 'mike', 'dave', 'steve']

In [10]:
excited = []
for name in names:
    excited.append(name+'!')
    
excited

['mike!', 'mike!', 'mike!', 'dave!', 'steve!']

In [11]:
excited = [name+'!' for name in names]

In [12]:
excited

['mike!', 'mike!', 'mike!', 'dave!', 'steve!']

In [13]:
import numpy as np

numbers = [3, 5, 76, 89, 5, 4, 5]
#declaring an empty list
n_bin = []
#set a variable to hold the mean
n_mean = np.mean(numbers)

for number in numbers:
    if number > n_mean:
        n_bin.append(1)
    else:
        n_bin.append(0)
        
n_bin

[0, 0, 1, 1, 0, 0, 0]

In [19]:
n_bin = [1 if number > n_mean else 0 for number in numbers]
n_bin

[0, 0, 1, 1, 0, 0, 0]

In [20]:
names = ['mike', 'mike', 'mike', 'dave', 'steve']

excited = []
for name in names:
    if name == 'mike':
        excited.append(name+'!')
    else:
        excited.append(name+'.')
        
excited

['mike!', 'mike!', 'mike!', 'dave.', 'steve.']

In [22]:
mikes = [name+'!' if name == 'mike' else name+'.' for name in names]
mikes

['mike!', 'mike!', 'mike!', 'dave.', 'steve.']

In [23]:
names = ['mike', 'mike', 'mike', 'dave', 'steve']

daves = []
for name in names:
    if name == 'mike':
        daves.append(name+'!')
    elif name == 'dave':
        daves.append(name+'?')
    else:
        daves.append(name+'.')
        
daves

['mike!', 'mike!', 'mike!', 'dave?', 'steve.']

In [26]:
daves = [name+'!' if name == 'mike' else name+'?' 
         if name == 'dave' else name+'.' for name in names]
daves

['mike!', 'mike!', 'mike!', 'dave?', 'steve.']

In [39]:
food = ['burritos', 'nachos', 'quesadillas', 'tamales']
price = ['$8.99', '$7.99', '$6.99', '5.99']

menu = []
for f, p in zip(food, price):
    menu.append([f, p])
    
menu

[['burritos', '$8.99'],
 ['nachos', '$7.99'],
 ['quesadillas', '$6.99'],
 ['tamales', '5.99']]

In [29]:
menu = []
for index, item in enumerate(food):
    menu.append([index, item])
menu

[[0, 'burritos'], [1, 'nachos'], [2, 'quesadillas'], [3, 'tamales']]

In [40]:
menu = []

for index, (item, p) in enumerate(zip(food, price)):
    menu.append([index, item, p])
    
menu

[[0, 'burritos', '$8.99'],
 [1, 'nachos', '$7.99'],
 [2, 'quesadillas', '$6.99'],
 [3, 'tamales', '5.99']]

In [41]:
menu = [[index, item, p] 
        for index, (item, p) in enumerate(zip(food, price))]

menu

[[0, 'burritos', '$8.99'],
 [1, 'nachos', '$7.99'],
 [2, 'quesadillas', '$6.99'],
 [3, 'tamales', '5.99']]

In [ ]:
##INSTRUCTIONS:
# WRITE A FOR LOOP
# WRITE THAT OUT AGAIN IN LIST COMPREHENSION
# USE DIFFERENT COLOURS TO MATCH THE LINES IN THE FOR LOOP WITH THE 
#LIST COMPREHENSION

#TAKE TWO MINUTES
#THE (TERRIBLE) MNEMONIC (SORRY, I PROMISE I CAN SPELL) IS 'O''I' 'C'
#OUTPUT, INPUT, CONDITIONAL