In [5]:
# basic for loop example
for ritikas in [1, 2, 3]:
    print(ritikas)
    print('Yes' * ritikas)

1
Yes
2
YesYes
3
YesYesYes

In [2]:
range(10) ## remember that this starts at 0 and ends at 9.

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
type(range(10))

list

In [10]:
for rowans in range(10): ## it doesn't matter what we name the variable that iterates!
    print('Hello', rowans)

('Hello', 0)
('Hello', 1)
('Hello', 2)
('Hello', 3)
('Hello', 4)
('Hello', 5)
('Hello', 6)
('Hello', 7)
('Hello', 8)
('Hello', 9)

In [12]:
## putting these into a list

rowan_list = [] ## initialize the list first - OUTSIDE the loop!

for rowans in range(10):
    rowan_list.append(('Hello', rowans))

In [13]:
rowan_list

[('Hello', 0),
 ('Hello', 1),
 ('Hello', 2),
 ('Hello', 3),
 ('Hello', 4),
 ('Hello', 5),
 ('Hello', 6),
 ('Hello', 7),
 ('Hello', 8),
 ('Hello', 9)]

In [1]:
for rowans in range(10):
    rowan_list = []
    rowan_list.append(('Hello', rowans)) ## inside the loop would be bad.

In [15]:
for number in range(10):
    print number

0
1
2
3
4
5
6
7
8
9

In [16]:
for city in range(10): ## again - the variable name doesn't matter.
    print city

0
1
2
3
4
5
6
7
8
9

In [3]:
## we can do this for a string, too!
word = 'computer!'
for letter in word:
    print letter

c
o
m
p
u
t
e
r
!

In [17]:
cities = ['San Francisco', 'New York City', 'Baltimore', 'Columbus']

In [18]:
cities_with_spaces = [] ## initialize list

In [19]:
for i in cities:
    if ' ' in i:
        cities_with_spaces.append(i) ## append each city that has a space in the name.

In [20]:
print cities_with_spaces

['San Francisco', 'New York City']

In [21]:
cities

['San Francisco', 'New York City', 'Baltimore', 'Columbus']

In [22]:
cities_with_three_words = []

In [23]:
for i in cities:
    space_counter = 0 ## we need to initialize space_counter above - before the extra loop!
    for letter in i:
        if letter == ' ':
            space_counter = space_counter + 1 ## this is what identifies how many spaces we count in a string.
    if space_counter == 2: ## in this particular case, we could do space_counter >= 2.
        cities_with_three_words.append(i)

In [24]:
print cities_with_three_words

['New York City']

In [25]:
# create a counter using a while loop
count = 0
while count < 5:
    print count
    count = count + 1

0
1
2
3
4

In [27]:
cities = ['San Francisco  ', 'New York City    ', 'Baltimore ', 'Columbus'] ## + whitespaces!

In [37]:
new_city_list = []

for i in cities:
    while i[len(i)-1] == ' ':
        i = i[0:len(i)-1]
    new_city_list.append(i)
    
## There are many different ways we can do these loops. It's possible to not use a while loop here. It's
## possible to slice the string marked by i in a different way. These indices (plural of index) are often
## tough to deal with, and it takes trial and error to figure it out.

In [38]:
new_city_list ## WOO NO SPACES!

['San Francisco', 'New York City', 'Baltimore', 'Columbus']

In [ ]:
while True: ## note that usually we iterate until this condition turns false... but True will never turn False!
    reply = raw_input('Enter text, [type "stop" to quit]: ')
    print reply.lower()
    if reply == 'stop':
        break

In [39]:
def addition(input1,input2):
    output = input1 + input2
    return output

In [ ]:
## Note: We could also just do this without using an output variable.

def addition(input1,input2):
    return input1 + input2

In [40]:
addition(45,20)

65

In [41]:
45 + 20

65

In [47]:
def addition_3(input1,input2,dog = 10): ## (dog = 10) indicates if we don't specify a value of dog, it defaults to 10.
    output = input1 + input2 + dog
    return output

In [48]:
addition_3(45,20) ## see? It defaults to dog = 10.

75

In [51]:
addition_3(45.7,20,60) ## Here, dog = 60 because we manually set it to be 60.

125.7

In [50]:
def addition_list(list_input):
    if type(list_input) == list:
        count = 0
        for i in list_input:
            count = count + i
    else:
        print "Sorry not cool."