## Inferential statistics lab

It might be a good idea to first check the [source of the Boston housing data](https://archive.ics.uci.edu/ml/datasets/Housing).

We've saved the data for you in a file named "housing.data". Load it in using any method you choose.

In [2]:
## i'm going to load this in with pandas for ease of reading

import pandas as pd #first import pandas as pd

##i know that the data doesn't have headers, so i'm going to create a list of column names to add to the dataframe
names = ["CRIM", "ZN", "INDUS", "CHAS", "NOX", "RM", "AGE", "DIS", "RAD", "TAX", "PTRATIO", "B", "LSTAT", "MEDV"]

#then i'm going to read in the data delimiting on any whitespace
#i'm specifying that i don't want any of the existing rows to be headers, but i DO want my list of column names to be the headers
#which pandas lets you do with a simple declaration
data = pd.read_csv("./housing.data", header=None, names=names, delim_whitespace=True)

#we can now use the .head() method to look at the first few rows of the dataframe and make sure everything looks okay
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

Exercise 1: Conduct a brief integrity check of your data. This integrity check should include, but is not limited to, checking for missing values and making sure all values make logical sense. (i.e. Is one variable a percentage, but there are observations above 100%?)
Summarize your findings in a few sentences, including what you checked and, if appropriate, any steps you took to rectify potential integrity issues.

In [7]:
#here's a short version of one of the functions i use for EDA:

def eda(dataframe):
    print "missing values \n", dataframe.isnull().sum() #this is to check if there are any null values in the dataframe
    print "dataframe types \n", dataframe.dtypes #this is to look at what kind of datatypes each column contains
    print "dataframe describe \n", dataframe.describe() #and this looks at EVERYTHING from mean, std, min, max, etc. etc. 
    for item in dataframe: #and this runs through every single column in the dataframe 
        print item         #prints out the column name
        print dataframe[item].nunique() #and then prints out how many unique items (non-repeated items) each column contains

In [8]:
eda(data)

missing values
CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64
dataframe types
CRIM       float64
ZN         float64
INDUS      float64
CHAS         int64
NOX        float64
RM         float64
AGE        float64
DIS        float64
RAD          int64
TAX        float64
PTRATIO    float64
B          float64
LSTAT      float64
MEDV       float64
dtype: object
dataframe describe
             CRIM          ZN       INDUS        CHAS         NOX          RM  \
count  506.000000  506.000000  506.000000  506.000000  506.000000  506.000000
mean     3.613524   11.363636   11.136779    0.069170    0.554695    6.284634
std      8.601545   23.322453    6.860353    0.253994    0.115878    0.702617
min      0.006320    0.000000    0.460000    0.000000    0.385000    3.561000
25%      0.082045    0.000000    5.190000    0.000000    0.449000    5.885500
50%      0.256510    0.000000    9.690000    0.000000    0.538000    6.208500
75%      3.677082   12.500000   18.100000    0.000000    0.624000    6.623500
max     88.976200  100.000000   27.740000    1.000000    0.871000    8.780000

              AGE         DIS         RAD         TAX     PTRATIO           B  \
count  506.000000  506.000000  506.000000  506.000000  506.000000  506.000000
mean    68.574901    3.795043    9.549407  408.237154   18.455534  356.674032
std     28.148861    2.105710    8.707259  168.537116    2.164946   91.294864
min      2.900000    1.129600    1.000000  187.000000   12.600000    0.320000
25%     45.025000    2.100175    4.000000  279.000000   17.400000  375.377500
50%     77.500000    3.207450    5.000000  330.000000   19.050000  391.440000
75%     94.075000    5.188425   24.000000  666.000000   20.200000  396.225000
max    100.000000   12.126500   24.000000  711.000000   22.000000  396.900000

            LSTAT        MEDV
count  506.000000  506.000000
mean    12.653063   22.532806
std      7.141062    9.197104
min      1.730000    5.000000
25%      6.950000   17.025000
50%     11.360000   21.200000
75%     16.955000   25.000000
max     37.970000   50.000000
CRIM
504
ZN
26
INDUS
76
CHAS
2
NOX
81
RM
446
AGE
356
DIS
412
RAD
9
TAX
66
PTRATIO
46
B
357
LSTAT
455
MEDV
229

Exercise 2: For what two attributes does it make the least sense to calculate mean and median? Why?

In [9]:
## The dummy variable CHAS and the categorical variable RAD. CHAS is a dummy (categorical) variable that 
## makes no sense quantitatively. RAD is a variable that indexes the distance to highways. It has many low 
## values and, after a large gap, has higher values. It stands to reason that this is not a "true"
## quantitative variable in the sense that the difference between RAD = 1 and RAD = 2 may not be the same
## as the difference between RAD = 2 and RAD = 3.

Exercise 3: Find the mean, standard deviation, and the standard error of the mean for variable 'AGE.'

In [10]:
import numpy as np

print "The mean is " + str(np.mean(data['AGE'])) + "."
print "The standard deviation is " + str(np.std(data['AGE'])) + "."
print "The standard error of the mean is " + str(np.std(data['AGE'],ddof = 1)/(len(data['AGE']))**0.5) + "."

The mean is 68.5749011858.
The standard deviation is 28.1210325702.
The standard error of the mean is 1.25136952526.

Exercise 4: Generate a 90%, 95%, and 99% confidence interval for 'AGE'. Do at least one of these manually (i.e. by plugging in the appropriate parts) and at least one of these using a function from scipy.stats. Interpret the results from all three confidence intervals.

In [11]:
from scipy.stats import t

t_interval_90 = t.interval(0.9,
                           len(data['AGE'])-1,
                           loc=np.mean(data['AGE']),
                           scale=np.std(data['AGE'],ddof = 1)/(len(data['AGE']))**0.5)

print "We are 90% confident that the true mean value for 'AGE' is between " + str(t_interval_90[0]) + " and " + str(t_interval_90[1]) + " years of age."

t_interval_95 = t.interval(0.95,
                           len(data['AGE'])-1,
                           loc=np.mean(data['AGE']),
                           scale=np.std(data['AGE'],ddof = 1)/(len(data['AGE']))**0.5)

print "We are 95% confident that the true mean value for 'AGE' is between " + str(t_interval_95[0]) + " and " + str(t_interval_95[1]) + " years of age."

We are 90% confident that the true mean value for 'AGE' is between 66.512798667 and 70.6370037045 years of age.
We are 95% confident that the true mean value for 'AGE' is between 66.1163697185 and 71.033432653 years of age.

In [12]:
## Recall that a 99% t confidence interval will be of the form
## (x-bar - t * s/sqrt(n), x-bar + t * s/sqrt(n))
## where t is the critical t-value with 506 degrees of freedom
## and for 99% confidence.

critical_t = t.ppf(0.995,506) # This pulls the critical value for 99.5%, which is appropriate.

Exercise 5: For variable 'NOX', generate a 95% confidence interval and interpret it.

In [13]:
t_interval_95 = t.interval(0.95,
                           len(data['NOX'])-1,
                           loc=np.mean(data['NOX']),
                           scale=np.std(data['NOX'],ddof = 1)/(len(data['NOX']))**0.5)

print "We are 95% confident that the true mean value for 'NOX' is between " + str(t_interval_95[0]) + " and " + str(t_interval_95[1]) + "."

We are 95% confident that the true mean value for 'NOX' is between 0.544574262292 and 0.564815856285.

Exercise 6: For the variable 'NOX', find the median.

In [14]:
np.median(data['NOX'])

0.53800000000000003

Exercise 7: For the variable 'NOX', test the hypothesis that the mean is equal to the median. You may use scipy functions to complete this, but complete all steps - define hypotheses, etc. Let alpha = 0.05. Interpret your results.

In [15]:
## Step 1: Define hypotheses.
### H_0: mu_NOX = M_NOX
### H_A: mu_NOX != M_NOX

## Step 2: alpha = 0.05.
alpha = 0.05

## Step 3: Calculate point estimate.
sample_mean = np.mean(data['NOX'])

## Step 4: Calculate test statistic.
t_statistic = (sample_mean - np.median(data['NOX']))/(np.std(data['NOX'], ddof=1)/len(data['NOX'])**0.5)

## Step 5: Find p-value.
p_value = t.sf(np.abs(t_statistic), len(data['NOX'])) * 2 
## Because our alternative hypothesis is != (rather than greater than or less than),
## we multiply our p-value by 2. (This is called a two-sided test.)

print "Our sample mean is " + str(sample_mean) + "."
print "Our t-statistic is " + str(t_statistic) + "."
print "Our p-value is " + str(p_value) + "."

if p_value < alpha:
    print "We reject our null hypothesis and conclude that the true mean NOX value is different from the median NOX value."
elif p_value > alpha:
    print "We fail to reject our null hypothesis and cannot conclude that the true mean NOX value is different from the median ."
else:
    print "Our test is inconclusive."

Our sample mean is 0.554695059289.
Our t-statistic is 3.24088371678.
Our p-value is 0.00127005273618.
We reject our null hypothesis and conclude that the true mean NOX value is different from the median NOX value.

Exercise 8: What do you notice about the results from Exercise 5 through Exercise 7? If you were going to generalize this to the relationship between hypothesis tests and confidence intervals, what might you say? Be specific.

In [16]:
## When we calculated the median, it was 0.538. The 95% confidence interval for our
## mean contained 0.545 through 0.565. Since the median was outside our 95%
## confidence interval, this suggests that the true mean would not be equal to our
## median.

## We then conducted the hypothesis test and found that, at the alpha = 0.05
## significance level, we rejected the hypothesis that the mean and median were
## equal.

## The results of our hypothesis test and confidence interval are in agreement
## here. Because our significance level (for HT) is alpha, as long as our 
## confidence level (for CI) is 1 - alpha, the results should be in agreement.
## That is, if the value of interest does not lie in our 1 - alpha CI, then
## testing the hypothesis that the parameter equals the value of interest
## should be rejected at the alpha significance level. Similarly, if the value
## of interest *does* lie in our 1 - alpha CI, then testing the hypothesis that
## the parameter equals the value of interest should *not* be rejected at the
## alpha significance level.

Exercise 9: For the variable 'NOX', test the hypothesis that the mean is greater than or equal to the median. You may use scipy functions to complete this, but complete all steps - define hypotheses, etc. Let alpha = 0.05. Interpret your results.

In [17]:
## Step 1: Define hypotheses.
### H_0: mu_NOX >= M_NOX
### H_A: mu_NOX < M_NOX

## Step 2: alpha = 0.05.
alpha = 0.05

## Step 3: Calculate point estimate.
sample_mean = np.mean(data['NOX'])

## Step 4: Calculate test statistic.
t_statistic = (sample_mean - np.median(data['NOX']))/(np.std(data['NOX'], ddof=1)/len(data['NOX'])**0.5)

## Step 5: Find p-value.
p_value = t.sf(np.abs(t_statistic), len(data['NOX']))
## Because our alternative hypothesis is < (rather than equal to),
## we DO NOT multiply our p-value by 2. (This is called a one-sided test.)

print "Our sample mean is " + str(sample_mean) + "."
print "Our t-statistic is " + str(t_statistic) + "."
print "Our p-value is " + str(p_value) + "."

if p_value < alpha:
    print "We reject our null hypothesis and conclude that the true mean NOX value is different from the median NOX value."
elif p_value > alpha:
    print "We fail to reject our null hypothesis and cannot conclude that the true mean NOX value is different from the median ."
else:
    print "Our test is inconclusive."

Our sample mean is 0.554695059289.
Our t-statistic is 3.24088371678.
Our p-value is 0.00063502636809.
We reject our null hypothesis and conclude that the true mean NOX value is different from the median NOX value.

Exercise 10: Compare the p-values from Exercise 7 and Exercise 9. What do you notice?

In [18]:
## The p-value in Exercise 6 is exactly double the p-value in Exercise 8, by construction.
## This is because of the fact that our alternative hypotheses are different. In Exercise
## 6, we can reject the null hypothesis for very large values of mu or very small values
## of mu. Because this is a two-sided test, we double our p-value. In Exercise 8, we can
## reject the null hypothesis for very small values of mu *but* cannot reject the null
## hypothesis for very large values of mu. Because we can only reject on one side, we
## call this a one-sided test. Due to the fact that this is a one-sided test, we do not
## need to double our p-value.