In [8]:
import pandas as pd
import glob
import pandas as pd
import numpy as np

db = '/Users/jennydoyle/Desktop/dsi/DC-DSI4/projects/04-project/assets/globalterrorismdb_0616dist.csv'
df = pd.read_csv(db, header=0,low_memory=False)
print 'Size = ',len(df)

Size =  156772

In [52]:
def eda(dataframe):
    from IPython.core import display as ICD
    print "dataframe shape: ",dataframe.shape      ## rows by columns
    print ''
    print 'num duplicates:', dataframe.duplicated().sum() ## df.drop_duplicates() to remove dupes
    print ''
    print "pct missing values \n"
    ICD.display(pd.DataFrame(dataframe.isnull().sum()/len(df)*100),columns=['Columns','Pct Missing']), ## count number of null values per column
    print ''
    print "dataframe types \n"
    ICD.display(pd.DataFrame(dataframe.dtypes),columns=['Columns','Dtype'])       ## list data type of each column
    print ''
    print "dataframe describe \n"
    ICD.display(pd.DataFrame(dataframe.describe()))## stats -- mean, min, max, etc.. 
    print ''
    print 'unique values in series:\n'
    u_list = []
    for item in df:                             ## count number of unique values per column
        u_list.append([item, df[item].nunique()])
    unique_vals = pd.DataFrame(u_list,columns=['Column','Num_unique'])
    ICD.display(unique_vals)

eda(df)

dataframe shape:  (156772, 137)

num duplicates: 0

pct missing values

                            0
eventid              0.000000
iyear                0.000000
imonth               0.000000
iday                 0.000000
approxdate          96.966295
extended             0.000000
resolution          97.766183
country              0.000000
country_txt          0.000000
region               0.000000
region_txt           0.000000
provstate            9.261858
city                 0.284490
latitude             2.882530
longitude            2.882530
specificity          0.000000
vicinity             0.000000
location            73.074911
summary             42.188656
crit1                0.000000
crit2                0.000000
crit3                0.000000
doubtterr            0.000638
alternative         84.540607
alternative_txt      0.000000
multiple             0.000000
success              0.000000
suicide              0.000000
attacktype1          0.000000
attacktype1_txt      0.000000
...                       ...
propextent          64.054806
propextent_txt       0.000000
propvalue           80.027046
propcomment         68.475238
ishostkid            0.113541
nhostkid            92.812492
nhostkidus          92.847575
nhours              97.893757
ndays               95.801546
divert              99.815656
kidhijcountry       97.901411
ransom              52.101141
ransomamt           99.237747
ransomamtus         99.737836
ransompaid          99.602608
ransompaidus        99.743577
ransomnote          99.731457
hostkidoutcome      94.460108
hostkidoutcome_txt   0.000000
nreleased           94.836450
addnotes            86.015360
scite1              42.309851
scite2              60.987294
scite3              78.228255
dbsource             0.000000
INT_LOG              0.000000
INT_IDEO             0.000000
INT_MISC             0.000000
INT_ANY              0.000000
related             86.973439

[137 rows x 1 columns]

dataframe types

                          0
eventid               int64
iyear                 int64
imonth                int64
iday                  int64
approxdate           object
extended              int64
resolution           object
country               int64
country_txt          object
region                int64
region_txt           object
provstate            object
city                 object
latitude            float64
longitude           float64
specificity           int64
vicinity              int64
location             object
summary              object
crit1                 int64
crit2                 int64
crit3                 int64
doubtterr           float64
alternative         float64
alternative_txt      object
multiple              int64
success               int64
suicide               int64
attacktype1           int64
attacktype1_txt      object
...                     ...
propextent          float64
propextent_txt       object
propvalue           float64
propcomment          object
ishostkid           float64
nhostkid            float64
nhostkidus          float64
nhours              float64
ndays               float64
divert               object
kidhijcountry        object
ransom              float64
ransomamt           float64
ransomamtus         float64
ransompaid          float64
ransompaidus        float64
ransomnote           object
hostkidoutcome      float64
hostkidoutcome_txt   object
nreleased           float64
addnotes             object
scite1               object
scite2               object
scite3               object
dbsource             object
INT_LOG               int64
INT_IDEO              int64
INT_MISC              int64
INT_ANY               int64
related              object

[137 rows x 1 columns]

dataframe describe

,eventid,iyear,imonth,iday,extended,country,region,latitude,longitude,specificity,...,ransomamt,ransomamtus,ransompaid,ransompaidus,hostkidoutcome,nreleased,INT_LOG,INT_IDEO,INT_MISC,INT_ANY
count,1.567720e+05,156772.000000,156772.000000,156772.000000,156772.000000,156772.000000,156772.000000,152253.000000,152253.000000,156772.000000,...,1.195000e+03,4.110000e+02,6.230000e+02,402.000000,8685.000000,8095.000000,156772.000000,156772.000000,156772.000000,156772.000000
mean,2.000541e+11,2000.474083,6.484666,15.455215,0.041347,133.087401,6.970097,23.190988,24.210467,1.452632,...,3.320127e+06,5.454451e+05,4.319721e+05,305.196517,4.592170,-27.788635,-4.834645,-4.789114,0.093894,-4.221124
std,1.298283e+09,12.982397,3.392225,8.815533,0.199091,113.946290,2.967803,19.220723,59.900831,1.016971,...,3.187694e+07,6.665967e+06,2.589893e+06,3409.027685,2.049184,58.524976,4.528862,4.589779,0.602442,4.686143
min,1.970000e+11,1970.000000,0.000000,0.000000,0.000000,4.000000,1.000000,-53.154613,-176.176447,1.000000,...,-9.900000e+01,-9.900000e+01,-9.900000e+01,-99.000000,1.000000,-99.000000,-9.000000,-9.000000,-9.000000,-9.000000
25%,1.989082e+11,1989.000000,4.000000,8.000000,0.000000,69.000000,5.000000,10.756961,-1.929857,1.000000,...,0.000000e+00,0.000000e+00,-9.900000e+01,0.000000,2.000000,-99.000000,-9.000000,-9.000000,0.000000,-9.000000
50%,2.005071e+11,2005.000000,6.000000,15.000000,0.000000,101.000000,6.000000,31.285506,41.919647,1.000000,...,1.250000e+04,0.000000e+00,0.000000e+00,0.000000,4.000000,0.000000,-9.000000,-9.000000,0.000000,0.000000
75%,2.013060e+11,2013.000000,9.000000,23.000000,0.000000,160.000000,10.000000,34.842222,68.416974,1.000000,...,4.115000e+05,0.000000e+00,4.276840e+03,0.000000,7.000000,1.000000,0.000000,0.000000,0.000000,0.000000
max,2.015123e+11,2015.000000,12.000000,31.000000,1.000000,1004.000000,12.000000,74.633553,179.366667,5.000000,...,1.000000e+09,1.320000e+08,4.100000e+07,48000.000000,7.000000,1201.000000,1.000000,1.000000,1.000000,1.000000

unique values in series:

                 Column  Num_unique
0               eventid      156772
1                 iyear          45
2                imonth          13
3                  iday          32
4            approxdate        1426
5              extended           2
6            resolution        2657
7               country         206
8           country_txt         206
9                region          12
10           region_txt          12
11            provstate        2509
12                 city       31324
13             latitude       52021
14            longitude       51632
15          specificity           5
16             vicinity           3
17             location       35794
18              summary       34335
19                crit1           2
20                crit2           2
21                crit3           2
22            doubtterr           3
23          alternative           5
24      alternative_txt           6
25             multiple           2
26              success           2
27              suicide           2
28          attacktype1           9
29      attacktype1_txt           9
..                  ...         ...
107          propextent           4
108      propextent_txt           5
109           propvalue         604
110         propcomment       17437
111           ishostkid           3
112            nhostkid         221
113          nhostkidus          28
114              nhours          34
115               ndays         289
116              divert         142
117       kidhijcountry         217
118              ransom           3
119           ransomamt         350
120         ransomamtus          21
121          ransompaid         122
122        ransompaidus           8
123          ransomnote         285
124      hostkidoutcome           7
125  hostkidoutcome_txt           8
126           nreleased         155
127            addnotes        9613
128              scite1       66698
129              scite2       50118
130              scite3       28489
131            dbsource          26
132             INT_LOG           3
133            INT_IDEO           3
134            INT_MISC           3
135             INT_ANY           3
136             related       18082

[137 rows x 2 columns]